matplotlib
networkx
numpy
pandas
torch
tqdm
transformers
jupyter

# Optional — required for benchmark.ipynb and run_estimation.py only
# Requires R to be installed: https://www.r-project.org
# catenets
# econml
# plotnine
# rpy2
# scikit-learn
# seaborn
